<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<center>

<div ng-app="myApp" ng-controller="CDController">

CD Id  &nbsp &nbsp  : <input type="text" ng-model="CDId"><br>
CD Title : <input type="text" ng-model="CDTitle"><br>
CD Price : <input type="text" ng-model="CDPrice"><br>
<br>
CD Information : {{getAllDetails()}}

</div>

<script src="C:\Users\Kodanda\Desktop\ASSESMENTS\Angular JS\Angular_Ass4_ExternalJS.js"></script>
</center>
</body>
</html>
