<!DOCTYPE HTML>
<HTML>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCntrl"><center>

Payment of the Product is &nbsp: <input type="number" ng-model="amount"></br></br>
Enter Contest Scratch Code : <input type="text" ng-model="Scratch">

<div ng-switch="Scratch">
  <div ng-switch-when="CDMK1610">
     <h2>Total Amount is :{{(amount)-amount*0.1}} </h2>
  </div>
  <div ng-switch-when="CDMK1620">
     <h2>Total Amount is :{{(amount)-amount*0.2}} </h2>
  </div>
  <div ng-switch-when="CDMK1690">
     <h2>Total Amount is :{{(amount)-amount*0.9}} </h2>
  </div>
  <div ng-switch-default>
     <h2>Total Amount is :{{(amount)-amount*0.05}} </h2>
</div>

<script>
var app = angular.module('myApp',[]);
app.controller('myCntrl',function($scope){
	 $scope.amount=500;
     $scope.Scratch="CDMK1610";
	 });
</script>

</center>
</body>
</HTML>
	